#app-mount {
    .invite-18yqGF {
        background-color: var(--background-secondary-6);
        border-color: var(--background-secondary);
    }

    .tile-2OwFgW {
        background-color: var(--background-tertiary);

        &:hover {
            background-color: var(--background-floating);
        }
    }

    .spoilerText-3p6IlD {
        background-color: var(--background-tertiary);
    }
}