#app-mount .keyboardShortcutsModal-3piNz7 {
    background-color: var(--background-primary);

    .modalTitle-37O4n6 {
        color: var(--header-primary);
    }

    .modalSubtitle-1Pj5nv {
        color: var(--text-normal);
        opacity: 0.80;
    }

    .keybindGroup--6Qp-w {
        .keybindDescription-2RDbC2 {
            color: var(--header-secondary);
            opacity: 0.9;
        }
    }
}