#app-mount .autocomplete-1vrmpx {
    background-color: var(--background-secondary);

    .categoryHeader-O1zU94 {
        background-color: var(--background-secondary);
    }

    .base-1pYU8j.selected-1Tbx07 {
        background-color: var(--background-primary);
    }
}