#app-mount .container-3ayLPN#search-results {
    background-color: var(--background-secondary);
    box-shadow: 0 0 0 1px var(--background-tertiary), 0 2px 10px 0 rgba(0, 0, 0, 0.2);

    .focused-2bY0OD {
        background-color: var(--background-secondary);
    }

    .option-96V44q {
        &::after {
            background: transparent;
        }

        &.selected-rZcOL- {
            background-color: var(--background-tertiary);

            &::before {
                background: linear-gradient(90deg,rgba(0, 0, 0, 0),var(--background-tertiary) 80%);
                padding-left: 10px;
            }

            &::after {
                background: linear-gradient(90deg,rgba(0, 0, 0, 0),var(--background-tertiary) 50%);
            }
        }
    }
}