#app-mount .userPopout-3XzG_A {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px var(--background-tertiary);

    .headerNormal-T_seeN {
        background-color: var(--background-tertiary);
    }

    .body-3iLsc4 {
        background-color: var(--background-secondary);
    }

    .footer-1fjuF6 {
        background-color: var(--background-secondary);
        border-color: var(--background-tertiary);
    }
}