#app-mount .perksModal-fSYqOq {
    background-color: var(--background-primary);

    .tierMarkerBackground-3q29am {
        background-color: var(--background-primary);
    }

    .barBackground-2EEiLw, .tierMarkerInProgress-24LMzJ {
        background-color: var(--background-tertiary);
    }

    .tierHeaderLocked-1s2JJz.tierHeader---JJFb {
        background-color: var(--background-floating);
    }
    .tierBody-16Chc9 {
        background-color: var(--background-tertiary);
    }

    .perks-3OsGy8 li {
        background-color: var(--background-secondary);
    }
}