#app-mount .applicationStore-1pNvnv {
    .scroller-1JpcIc {
        background-color: var(--background-primary);
    }

    .purchaseUnit-2lxci3 { 
        .bodySection-jqkkIP {
            background-color: var(--background-tertiary);
        }

        .label-13UUcd {
            color: var(--text-muted)
        }
    }
}